<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.system.dao.NoticeDao">

  
   <select id="noticeList" resultType="kr.happyjob.study.system.model.NoticeModel">
            /*kr.happyjob.study.system.dao.noticeList*/
			select no 
			      ,title
			      ,loginID
			      ,regdate
		   from tb_notice 
		 	<where>
		 	<if test="(search_option != null) and (!search_option.equals(''))">
		 	<choose> 
		 		<when test ="search_option eq 'search_title'.toString()">
		 			and title Like CONCAT('%',#{search_text},'%')
		 			and regdate BETWEEN#{fromDate} AND #{toDate} 
		 		</when>	 		
		 		<when test ="search_option eq 'search_name'.toString()">
		 			and loginID Like CONCAT('%',#{search_text},'%')
		 			and regdate BETWEEN#{fromDate} AND #{toDate} 
		 		</when>	 
		 				
		 	</choose>
		 	</if> 	
		 		<if test =" (fromDate != null) and (toDate != null)">
		 		and regdate BETWEEN#{fromDate} AND #{toDate} 
		 	</if>
			</where>
		 	order by no DESC
			limit #{pageindex}, #{pagesize}	
     </select>
   
   <select id="noticeCnt" resultType="int">
            /*kr.happyjob.study.dao.noticeCnt */
			select count(no)
		   from tb_notice
		 	<where>
		 	<if test="(search_option != null) and (!search_option.equals(''))">
		 	<choose>	
		 		<when test ="search_option eq 'search_title'.toString()">
		 			and title Like CONCAT('%',#{search_text},'%')
		 			and regdate BETWEEN #{fromDate} AND #{toDate} 
		 		</when>	 	
		 		<when test ="search_option eq 'search_name'.toString()">
		 			and loginID Like CONCAT('%',#{search_text},'%')
		 			and regdate BETWEEN#{fromDate} AND #{toDate} 
		 		</when>	 			
		 	</choose>
		 	</if>
		 	<if test =" (fromDate != null) and (toDate != null)">
		 		and regdate BETWEEN#{fromDate} AND #{toDate} 
	
		 	</if>
			</where>
     </select>  
     
     <select id="noticeSelectOne" resultType="kr.happyjob.study.system.model.NoticeModel">
          /*kr.happyjob.study.dao.noticeSelectOne */
     		select title
			      ,loginID
			      ,contents
		   from tb_notice 
     	where no = #{no}
     </select>
   
      <insert id="saveInsert">
       /*kr.happyjob.study.dao.saveInsert */
      	<selectKey resultType="int" keyProperty="no" order="BEFORE">
      	 	SELECT IFNULL(MAX(no),0) + 1 FROM tb_notice 
      	</selectKey>
     		insert 
     		into tb_notice
     							(
     							no
     							,loginID  
     							,title
     							,regdate
			   					,contents
     							)values(
     							#{no}
     							,#{loginID}
     							,#{title}
     							,NOW()
     							,#{contents}
     							)

     </insert>
   	<update id="saveUpdate">
   	 /*kr.happyjob.study.dao.saveUpdate */
   		update tb_notice
     		set
     			loginID = #{loginID}
     			,title = #{title}
     			,regdate = NOW()
			   	,contents = #{contents}
			where no = #{no}
     </update>
     
     
     
     <delete id="deleteNotice">
     /*kr.happyjob.study.dao.deleteNotice */
     		delete from tb_notice
     		where no = #{no}
     
     </delete>
   
</mapper>